#enable checking files and folder in the same name
Options +MultiViews

#disable index of files on directory
Options -Indexes 

#rewriting url rules
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]